* {
    margin: 0;
    padding: 0;
}

header {
    border: 1px solid black;
    position: fixed;
    top: 0;
    background-color: aquamarine;
    width: 100vw;
    height: 5vh;
    text-align: center;
    z-index: 5;
}

header>img {
    max-height: 100%;
}

nav {
    position: absolute;
    left: 3vw;
    top: 2vh;
}

nav>a {
    text-transform: capitalize;
    text-decoration: none;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 2.5px;
    font-weight: bolder;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

nav>a:hover {
    font-size: 1.3em;
}

i {
    font-size: 2em;
    position: absolute;
    right: 1%;
    top: 1%;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

.container {
    text-align: center;
    top: 8vh;
    left: 5%;
    position: absolute;
    background-color: lightslategray;
    width: 90vw;
    z-index: 1;
}

/* .card>img {
    max-width: 100%;
} */

footer {
    background-color: black;
    text-align: center;
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    width: 100vw;
    height: 4vh;
    position: fixed;
    bottom: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 2.5 px;
    font-weight: bolder;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
    z-index: 5;
}

/* <!-- extra small devices --> */
@media (max-width: 575.98px) {
    nav {
        display: none;
    }

    /* .card {
        display: inline-block;
        width: 85%;
        height: 200px;
        background-color: beige;
        border: solid 1px black;
        border-radius: 2%;
        margin: 1.5%;
    } */
}

/* small device */
@media (min-width: 576px) and (max-width: 767.98px) {
    nav {
        display: none;
    }

    /* .card {
        display: inline-block;
        width: 85%;
        height: 200px;
        background-color: beige;
        border: solid 1px black;
        border-radius: 2%;
        margin: 1.5%;
    } */
}

/* medium device */

@media (min-width: 768px) and (max-width: 991.98px) {
    nav {
        display: none;
    }

    /* .card {
        display: inline-block;
        width: 40%;
        height: 200px;
        background-color: beige;
        border: solid 1px black;
        border-radius: 2%;
        margin: 1.5%;
    } */
}

/* large device */
@media (min-width: 992px) and (max-width: 1199.98px) {

    .fa-solid {
        display: none;
    }

    /* .card {
        display: inline-block;
        width: 25%;
        height: 200px;
        background-color: beige;
        border: solid 1px black;
        border-radius: 2%;
        margin: 1.5%;
    } */
}

/* ex-large */
@media (min-width: 1200px) {
    .fa-solid {
        display: none;
    }

    /* .card {
        display: inline-block;
        width: 25%;
        height: 200px;
        background-color: beige;
        border: solid 1px black;
        border-radius: 2%;
        margin: 1.5%;
    } */
}